*{
font-family: pragmatica-condensed, sans-serif;
}
.bw-main{
width: 100%;
height: 100%;
margin: 50px 0 0 0;

}
.bw-main strong{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-transform: uppercase;
}
.bw-main p{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
            