@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/Proxima Nova/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  color: hsla(0, 0%, 0%, 1);
  font-style: normal;

  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-behavior: smooth;
}

.a {
  text-decoration: none;
  color: black;
  z-index: 100;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  width: 100%;
}

/* .scroll-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  position: absolute;
} */

.scroll-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8d8d8d;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* MAIN HEADING WITH NAME */
#heading {
  margin: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc((2 - 1) * 1.2vw + 1rem);
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
}

.header {
  margin: 1rem 0;
}

/* NAV MENU */
nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dropdown a {
  color: hsla(0, 0%, 0%, 1);
  font-size: calc((1.2 - 1) * 1.2vw + 1rem);
}

.dropdown a:hover {
  color: #858585;
}

.dropdown {
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 0 15px;
}
.dropdown:not(:last-child) {
  border-right: 1px solid black;
}

.dropdown:hover:not(:last-child) {
  border-right: 1px solid #858585;
}

/* PHOTO CAROUSEL */
.photo-section {
  /* width: 85%; */
  width: 100%;
  height: 80vh;
  /* max-width: 1900px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  margin: 2rem 0 0 0;
}
.photo-section .carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  background-color: transparent !important;
  scroll-snap-type: x mandatory;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.photo-section .carousel::-webkit-scrollbar {
  height: 0;
}
.photo-section .photo-cont {
  /* width: 49%; */
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.two-pics img {
  /* flex: 1; */
  width: 48%;
  height: 100%;
  object-fit: cover;
  background-color: transparent !important;
}
.two-pics img:first-child {
  text-align: end;
}
.two-pics img:last-child {
  text-align: start;
}

.one-pic img {
  /* flex: 1; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent !important;
}

/* PHOTOS */
#films_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  column-gap: 5px;
  row-gap: 0px;
  padding: 0 0 0 5px;
}

#films_wrapper #film {
  position: relative;
  min-width: 323px;
  min-height: 182px;
  width: calc(50% - 5px);
  aspect-ratio: 6 / 9;
}

#films_wrapper #film img {
  width: 100%;
  height: calc(100% - 5px);
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 5px);
  height: calc(100% - 10px);
  background: rgba(69, 69, 69, 0.382);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

.layout h1,
p,
span {
  text-transform: uppercase;
  font-family: 'Proxima Nova', sans-serif;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}

#film:hover .layout {
  opacity: 1;
  backdrop-filter: blur(4px);
}

#video:hover .layout {
  opacity: 1;
  backdrop-filter: blur(4px);
}

/* ABOUT */
.about_heading {
  font-size: 1.625rem;
  font-family: 'Proxima Nova', sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  box-sizing: border-box;
  margin: 2rem 0 0 0;
  max-width: 1900px;
  transition: all 0.3s ease;
}

.content .photo {
  min-width: 300px;
  /* width: calc(48% - 150px); */
  width: 48vh;
  transition: all 0.3s ease;
}
.content .photo img {
  width: 100%;
}

.content article {
  min-width: 323px;
  width: calc(48% - 5px);
}
.content article p {
  text-transform: none;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.8rem;
  margin-top: 0;
  color: black;
}

@media screen and (max-width: 900px) {
  .photo-section {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .photo-section .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  .photo-section .photo-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .photo-section .photo-cont img {
    width: 100%;
  }
  .scroll-circle {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .a {
    font-size: 12px;
  }
}
@media screen and (max-width: 415px) {
  .a {
    font-size: 9px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 655px) {
  #videos_wrapper {
    margin: 0 5px;
  }
  #videos_wrapper #video {
    width: 100%;
    height: auto;
  }

  #films_wrapper {
    margin: 0 5px;
  }
  #films_wrapper #film {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    gap: 35px;
  }
}

@media screen and (max-width: 950px) {
  #thumbnails {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .photo-section .carousel {
    width: 70%;
  }
}

@media screen and (max-width: 730px) {
  .content {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content .photo {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .content article {
    width: 100%;
  }
}
